.box {
  width: 500px;
  height: 500px;
  border: solid thin black;
}

.firstRow {
  display: flex;
  width: 100%;
}

.checkBox {
  float: left;
  width: 33.33%;
  height: 33.33%;
  border: solid thin red;
  box-sizing: border-box;
}
